body {
    margin: 0;
    padding: 2rem;
    color: #fff;
    background-color: #21325E;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
h1 {
    margin: 2rem auto ;
}
.form_container{
    background-color: #F0F0F0;
    display: inline-block;
    padding: 1.75rem 3rem ;
    width: 50%;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   color: rgb(29, 29, 29);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img_conatiner {
    background-color: #3E497A;
    display: inline-block;
    width: 50%;
    padding: 2.5rem 3rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
form {
    font-size: 1.4rem;
}

.img_conatiner img {
    width: 58%;
    height: auto;
}
.limit-text {
    font-size: .9rem;
    font-weight: 500;
    color: red;
    margin-top: -2rem;
}